* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.conterfull {
  height: 100%;
  width: auto;
  display: flex;
  background-image: url("https://res.cloudinary.com/db8e98ggo/image/upload/v1735946384/Dise%C3%B1o_sin_t%C3%ADtulo_4_uzsy4d.png");
 background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  max-width: 300px; /* Tamaño máximo para evitar que sea muy grande en pantallas pequeñas */
}

.conbtelogo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 255, 0);
}

.contelibkteree {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  object-fit: cover;
  height: 100vh;
}

.item {
  font-family: "Rye", serif;
  letter-spacing: 10px;
  font-size: 1.4rem;
  color: aliceblue;
cursor: pointer;
padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  min-width: 550px;
  min-height: 50px;
  background-color: #65249e;
  border-radius: 3rcap;
  border: solid rgb(255, 255, 255);
  animation: zumbido 3s ease-in-out infinite;
}

.texr {
  font-family: "Rye", serif;
  letter-spacing: 10px;
  font-size: 1rem;
  color: rgb(12, 107, 190);

}


@keyframes zumbido {
  0% { transform: translateX(0); }
  10% { transform: translateY(-5px); }
  20% { transform: translateX(5px); }
  30% { transform: translateY(-5px); }
  40% { transform: translateX(5px); }
  50% { transform: translateY(-5px); }
  60% { transform: translateX(5px); }
  70% { transform: translateY(-5px); }
  80% { transform: translateX(5px); }
  90% { transform: translateY(-5px); }
  100% { transform: translateX(0); }
}

.contecomet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comanteria {
  width: 25rem;
  height: 5rem;
  background-color: rgb(6, 252, 88);
  margin-bottom: 2rem;
  border-radius: 20rem;
  padding: 1rem;
  font-size: large;
  color: aliceblue;
  box-shadow: -5px 1px 25px rgba(187, 201, 2, 0.986);
  transform: translate(0, -1rem);
}

.btnenvia {
  background-color: goldenrod;
  width: 5rem;
  padding: 1rem;
  border-radius: 5rem;
  transform: translate(0, -1rem);
}

/* Media Queries para hacer responsivo */

@media (max-width: 768px) {
  .item {
    width: 20rem;
    height: 4rem;
    font-size: 1.2rem;
    min-width: 80px;
  }

  .comanteria {
    width: 20rem;
    height: 4rem;
  }

  .btnenvia {
    width: 4rem;
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .item {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem;
    letter-spacing: 5px;
    min-width: 20px;
  }

  .comanteria {
    width: 15rem;
    height: 3rem;
  }

  .btnenvia {
    width: 3.5rem;
    padding: 0.7rem;
  }

  .logo {
    max-width: 200px;
  }
}
